<p><img src="https://i.postimg.cc/cCjTSn8r/ss-cumf.png" alt="" width="1280" height="300" /></p>

# **SETS**

El tipo set en Python es la clase utilizada por el lenguaje para representar los conjuntos.

<img src="https://i0.wp.com/casadamatematica.com.br/wp-content/uploads/2018/02/Entendendo-os-conjuntos-e-sua-linguagem-b%C3%A1sica.png?w=2000&ssl=1"
     width="300"
     height="200"  class="center"/>



1.   **Es una colección desordenada de elementos únicos, es decir, que no se repiten**
2.   Son mutables
3.   No son ni listas ni tuplas, ni diccionarios
4.   No soportan acceso por indexación o por slices


Los siguientes datos son soportados:

1.   cadenas
2.   números
3.   tuplas
4.   booleanos
5.   Nones



```
valores dentro de: {}
```

## **CONSIDERACIONES**

In [62]:
diccionario: dict = {"llave": None}
type(diccionario)

dict

In [63]:
mi_primer_set: set = {}
type(mi_primer_set)

dict

In [64]:
set_real:set = set()
print(type(set_real), set_real)

<class 'set'> set()

In [65]:
valor:set = {1,2,3,1}
print(valor)

{1, 2, 3}

In [66]:
set([1,2,3])

{1, 2, 3}

In [67]:
set((1,2,3))

{1, 2, 3}

In [68]:
set("abcde  a a a")

{' ', 'a', 'b', 'c', 'd', 'e'}

## **OPERACIONES GENERALES**

In [69]:
# Permite tener conjuntos de un solo tipo o mixtos
set_numericos = {1,2,3}
set_letras ={"a","b","c"}
set_mixto = {"a",1,3.15}

print("Numéricos -> tipo de dato : {}, valor : {}".format(type(set_numericos),set_numericos))
print("Texto     -> tipo de dato : {}, valor : {}".format(type(set_letras),set_letras))
print("Mixto     -> tipo de dato : {}, valor : {}".format(type(set_mixto),set_mixto))

Numéricos -> tipo de dato : <class 'set'>, valor : {1, 2, 3}
Texto     -> tipo de dato : <class 'set'>, valor : {'c', 'b', 'a'}
Mixto     -> tipo de dato : <class 'set'>, valor : {1, 3.15, 'a'}

### **APPEND**

In [70]:
elementos: str = {1,2}
print(elementos)
elementos.add(3) # similar al append en listas
print(elementos)

{1, 2}
{1, 2, 3}

### **UPDATE**

In [71]:
print(elementos)
elementos.update([1,2,3,"b", (1,2)])
print(elementos)

{1, 2, 3}
{1, 2, (1, 2), 3, 'b'}

In [72]:
elementos.update("abcd")

In [73]:
print(elementos)

{1, 2, (1, 2), 3, 'c', 'b', 'a', 'd'}

In [74]:
# Responder

demo = {1,2,3}
demo.update({4,5,6,6})
print(demo)

{1, 2, 3, 4, 5, 6}

### **DISCARD**

In [75]:
print(elementos)
elementos.discard(1)
print(elementos)

{1, 2, (1, 2), 3, 'c', 'b', 'a', 'd'}
{2, (1, 2), 3, 'c', 'b', 'a', 'd'}

In [76]:
elemntos.discard(100) # si no existe el valor no genera error

### **REMOVE**

In [77]:
print(elementos)
elementos.remove(2)
print(elementos)

{2, (1, 2), 3, 'c', 'b', 'a', 'd'}
{(1, 2), 3, 'c', 'b', 'a', 'd'}

In [78]:
elementos.remove(100)

KeyError: 100

### **POP**

In [ ]:
print(elementos)
elementos.pop()
print(elementos)

{(1, 2), 3, 'c', 'b', 'a', 'd'}
{3, 'c', 'b', 'a', 'd'}

In [ ]:
print(elementos)
elementos.pop(12)
print(elementos)

{3, 'c', 'b', 'a', 'd'}

TypeError: set.pop() takes no arguments (1 given)

## **OPERACIONES BÁSICAS DE CONJUNTOS**

Estas operaciones, se pueden trabajar:

1.   por operador
2.   por función


Nota: No es inplace, el valor resultante se debe almacenar en una variable, en caso de que la quiera persistir

### **UNIÓN**

Realiza una operación de unión entre dos conjuntos

`| or set.union`

![text](https://cdn.programiz.com/sites/tutorial2program/files/set-union.jpg)

In [ ]:
set_a = {1,2,3,4,5,6}
set_b = {4,5,6,7,8,9}

print("1. forma con operador --> ", set_a | set_b)
print("2. forma con función  --> ", set_a.union(set_b))
print("3. forma con función  --> ", set_b.union(set_a))

1. forma con operador -->  {1, 2, 3, 4, 5, 6, 7, 8, 9}
2. forma con función  -->  {1, 2, 3, 4, 5, 6, 7, 8, 9}
3. forma con función  -->  {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
set_a = {1,2,3,4,5,6}
set_b = {4,5,6,7,8,9}
set_c = {8,9,10,11}

print("1. forma con operador --> ", set_a | set_b | set_c )
print("2. forma con función  --> ", set_a.union(set_b).union(set_c))
print("3. forma con función  --> ", set_b.union(set_a).union(set_c))

1. forma con operador -->  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
2. forma con función  -->  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
3. forma con función  -->  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### **INTERSECCIÓN**

Realizar una operación de intersección entre dos conjuntos

` & or set.intersection`

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/set-intersection.jpg)

In [ ]:
set_a = {1,2,3,4,5}
set_b = {4,5,6,7,8,9}
print("1. forma con operador --> ", set_a & set_b)
print("2. forma con función  --> ", set_a.intersection(set_b))
print("3. forma con función  --> ", set_b.intersection(set_a))

1. forma con operador -->  {4, 5}
2. forma con función  -->  {4, 5}
3. forma con función  -->  {4, 5}

### **DIFERENCIA**

Realiza una operación de diferencia entre dos conjuntos



 `- or set.difference`

 Detalle:
  `- or set.difference` te da un conjunto nuevo que contiene solo los elementos del primer conjunto que no están en el segundo conjunto. En otras palabras, te muestra cuáles elementos son exclusivos del primer conjunto y no están en el segundo conjunto.

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/set-difference.jpg)

In [ ]:
# se marca el orden en la medida
set_a = {1,2,3,4,5}
set_b = {4,5,6,7,8,9}
print("1. forma con operador --> ", set_a - set_b)
print("2. forma con función  --> ", set_a.difference(set_b))
print("3. forma con función  --> ", set_b.difference(set_a))

1. forma con operador -->  {1, 2, 3}
2. forma con función  -->  {1, 2, 3}
3. forma con función  -->  {8, 9, 6, 7}

### **DIFERENCIA SIMÉTRICA**

Realiza una operación con todos los elementos que son exclusivos de cada uno de los dos conjuntos originales, es decir, aquellos elementos que están en uno de los conjuntos pero no en ambos.

`^ or set.symmetric_difference`

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/set-symmetric-difference.jpg)

In [ ]:
# Se marca el orden en la medida
set_a = {1,2,3,4,5}
set_b = {4,5,6,7,8,9}
print("1. forma con operador --> ", set_a ^ set_b)
print("2. forma con función  --> ", set_a.symmetric_difference(set_b))
print("3. forma con función  --> ", set_b.symmetric_difference(set_a))

1. forma con operador -->  {1, 2, 3, 6, 7, 8, 9}
2. forma con función  -->  {1, 2, 3, 6, 7, 8, 9}
3. forma con función  -->  {1, 2, 3, 6, 7, 8, 9}

In [ ]:
"""
  Problemas:
    1. la base de datos tiene usuarios repetidos
    2. el usuario, realizó mal un sql y el sql está duplicando la información
"""
# Respuesta de negocio: cuántos usuarios registrados tenemos
datos: tuple = ("123", "456", "123", "789", "111", "123") # SQL acceder a las bases de datos

In [ ]:
print("Usuarios activos: ", len(datos))

Usuarios activos:  6

In [ ]:
# Programación ordinaria | spoiler
unicos: list = []

for usuario in datos:
  if usuario in unicos:
    continue
  else:
    unicos.append(usuario)

print("Usuarios activos: ", len(unicos))

Usuarios activos:  4

In [ ]:
# optimizada
unicos = tuple(set(datos))
print("Usuarios activos: ", len(unicos))

Usuarios activos:  4

In [ ]:
"""
1. Se tienen los siguientes elementos: 1 2 3 4 5 6 7 8 8 8 8 8
A partir de estos valores se deben crear 3 conjuntos de las siguientes formas:


  A . Por constructor
  B . Por referencia
  C . Por adición independiente
  D . Imprimir los valores y el tipo

2. Se tiene el siguiente texto multilínea:


  Hola, estamos en el curso de Python de Cedesistemas
  el cual inicia desde el Nivel 1, espero que lo
  estés disfrutandO


  Se requiere:


  A. tener un conjunto de datos de las letras únicas en minúscula
  B. el conjunto no debe tener espacios o caracteres de escape


3. se tienen los siguientes elementos 1 2 3 4 5 6 7 8 8 8 8 8 , se debe realizar
lo siguiente:


  A. Crear una lista de estos valores
  B. Crear una lista nueva quitando los repetidos
  C. Imprimir la lista nueva y el tipo de dato


4. Se tienen las siguientes listas:


  A = [8, 9, 10, 20, 90, 80, 100]
  B = [69, 73, 20, 80, 100]
  C = [3, 4, 15, 20, 30, 70, 80, 120]


  Encontrar elementos comunes en tres
  Resultado = [80, 20]


5. Se tienen las siguientes listas de participantes que asistirán a determinados eventos:
  evento # 1 : "Jake", "JohN", "Eric"
  evento # 2 : "jOhn", "Jill"


  Se requiere identificar lo siguiente:


  A. Mostrar los usuarios que asistirán a los dos eventos
  B. Mostrar los usuarios que asistirán a un solo evento
  C. Mostrar los usuarios que asistirán a un evento y no al otro
  D. Mostrar todos los usuarios que asistirán al menos a un evento


  Notas:
    1. Se debe mostrar el tipo de dato y resultado,
    2. Los datos deben partir de la normalización, todo dinámicamente


6. [Opcional] Hacer el ejemplo de los accesos a red corporativa y red invitados
   Notas:
    1. Si se hace se regala bonus
    2. Los datos los proponen ustedes

"""

'\n1. Se tienen los siguientes elementos: 1 2 3 4 5 6 7 8 8 8 8 8\nA partir de estos valores se deben crear 3 conjuntos de las siguientes formas:\n\n\n  A . Por constructor\n  B . Por referencia\n  C . Por adición independiente\n  D . Imprimir los valores y el tipo\n\n2. Se tiene el siguiente texto multilínea:\n\n\n  Hola, estamos en el curso de Python de Cedesistemas\n  el cual inicia desde el Nivel 1, espero que lo\n  estés disfrutandO\n\n\n  Se requiere:\n\n\n  A. tener un conjunto de datos de las letras únicas en minúscula\n  B. el conjunto no debe tener espacios o caracteres de escape\n\n\n3. se tienen los siguientes elementos 1 2 3 4 5 6 7 8 8 8 8 8 , se debe realizar\nlo siguiente:\n\n\n  A. Crear una lista de estos valores\n  B. Crear una lista nueva quitando los repetidos\n  C. Imprimir la lista nueva y el tipo de dato\n\n\n4. Se tienen las siguientes listas:\n\n\n  A = [8, 9, 10, 20, 90, 80, 100]\n  B = [69, 73, 20, 80, 100]\n  C = [3, 4, 15, 20, 30, 70, 80, 120]\n\n\n  Encontrar elementos comunes en tres\n  Resultado = [80, 20]\n\n\n5. Se tienen las siguientes listas de participantes que asistirán a determinados eventos:\n  evento # 1 : "Jake", "JohN", "Eric"\n  evento # 2 : "jOhn", "Jill"\n\n\n  Se requiere identificar lo siguiente:\n\n\n  A. Mostrar los usuarios que asistirán a los dos eventos\n  B. Mostrar los usuarios que asistirán a un solo evento\n  C. Mostrar los usuarios que asistirán a un evento y no al otro\n  D. Mostrar todos los usuarios que asistirán al menos a un evento\n\n\n  Notas:\n    1. Se debe mostrar el tipo de dato y resultado,\n    2. Los datos deben partir de la normalización, todo dinámicamente\n\n\n6. [Opcional] Hacer el ejemplo de los accesos a red corporativa y red invitados\n   Notas:\n    1. Si se hace se regala bonus\n    2. Los datos los proponen ustedes\n\n'