<p><img src="https://i.postimg.cc/cCjTSn8r/ss-cumf.png" alt="" width="1280" height="300" /></p>

# **CICLOS**

## **FOR**


Ciclo controlado (mejor amigo para recorrer)
```
for una_o_varias_variables_temporales in iterable (en memoria | calculado): [obligatoria]
  pass o la lógica que quieran
else: [opcional]
  ---
```

In [30]:
texto: str = "bootcamp.softserve.python.linux"

### **SIMPLE**

In [31]:
for letra in texto:
  print(letra, letra * 5)

b bbbbb
o ooooo
o ooooo
t ttttt
c ccccc
a aaaaa
m mmmmm
p ppppp
. .....
s sssss
o ooooo
f fffff
t ttttt
s sssss
e eeeee
r rrrrr
v vvvvv
e eeeee
. .....
p ppppp
y yyyyy
t ttttt
h hhhhh
o ooooo
n nnnnn
. .....
l lllll
i iiiii
n nnnnn
u uuuuu
x xxxxx

### **ELSE**

In [32]:
# bootcamp
# for letra in texto[0:8]:
for letra in texto.split(".")[0]:
  print(letra, letra * 5)
else:
  print("finalizó!")

b bbbbb
o ooooo
o ooooo
t ttttt
c ccccc
a aaaaa
m mmmmm
p ppppp
finalizó!

In [33]:
for letra in texto.split(".")[0]:
  print(letra, letra * 5)

print("finalizó!")

b bbbbb
o ooooo
o ooooo
t ttttt
c ccccc
a aaaaa
m mmmmm
p ppppp
finalizó!



```python
for letra in texto[:8]:
  print(letra, letra * 5)
```

In [34]:
for index in range(len(texto[:8])):
  print(index)
  print(texto[index],  texto[index] * 5)

0
b bbbbb
1
o ooooo
2
o ooooo
3
t ttttt
4
c ccccc
5
a aaaaa
6
m mmmmm
7
p ppppp

In [35]:
print(texto)
len(texto)

bootcamp.softserve.python.linux

31

In [36]:
for index in range(len(texto)):
  print(texto[index], texto[index: index + 3])

b boo
o oot
o otc
t tca
c cam
a amp
m mp.
p p.s
. .so
s sof
o oft
f fts
t tse
s ser
e erv
r rve
v ve.
e e.p
. .py
p pyt
y yth
t tho
h hon
o on.
n n.l
. .li
l lin
i inu
n nux
u ux
x x

In [37]:
print(f"original : {texto}")
for letra in texto.split("."):
  print(letra, letra * 5)
else:
  print("finalizó!")

original : bootcamp.softserve.python.linux
bootcamp bootcampbootcampbootcampbootcampbootcamp
softserve softservesoftservesoftservesoftservesoftserve
python pythonpythonpythonpythonpython
linux linuxlinuxlinuxlinuxlinux
finalizó!

### **CONTINUE**

Sirve tanto para for como para while

In [38]:
for letra in texto:
  if letra == ".":
    print(letra, letra * 5)
  else:
    continue

. .....
. .....
. .....

In [39]:
for letra in texto:
  if letra == ".":
    continue
  print(letra, letra * 5)
  # (Imaginar) 40 líneas hacia abajo  | lógica para damas!

b bbbbb
o ooooo
o ooooo
t ttttt
c ccccc
a aaaaa
m mmmmm
p ppppp
s sssss
o ooooo
f fffff
t ttttt
s sssss
e eeeee
r rrrrr
v vvvvv
e eeeee
p ppppp
y yyyyy
t ttttt
h hhhhh
o ooooo
n nnnnn
l lllll
i iiiii
n nnnnn
u uuuuu
x xxxxx

In [40]:
for letra in texto:
  if letra == ".":
    pass
  print(letra, letra * 5)

b bbbbb
o ooooo
o ooooo
t ttttt
c ccccc
a aaaaa
m mmmmm
p ppppp
. .....
s sssss
o ooooo
f fffff
t ttttt
s sssss
e eeeee
r rrrrr
v vvvvv
e eeeee
. .....
p ppppp
y yyyyy
t ttttt
h hhhhh
o ooooo
n nnnnn
. .....
l lllll
i iiiii
n nnnnn
u uuuuu
x xxxxx

### **BREAK**

Sirve tanto para for como para while

In [41]:
print(texto)
print(len(texto))
for letra in texto:
  if letra == ".":
    break
  print(letra, letra * 5)
else:
  print("ejecutando el else!")

print("continúa ejecutando las líneas siguientes...")

bootcamp.softserve.python.linux
31
b bbbbb
o ooooo
o ooooo
t ttttt
c ccccc
a aaaaa
m mmmmm
p ppppp
continúa ejecutando las líneas siguientes...

### **FOR ANIDADOS**

Nota: aplica para if, para bucles y para funciones

In [42]:
# Multiplicación
for numero_1 in range(1,11):
  # Al nivel de indentación del bucle | break o continue se ponen donde quiere que se rompa u omita
  for numero_2 in range(1,11):
    #if ..:
      # lógica
    print(f"{numero_1} x {numero_2} = {numero_1 * numero_2}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

### **FOR COMPREHENSION**

- Siempre devolverá una lista
- Permite for anidados



```python
[ acciones for temporal in iterable condiciones]
```

Cómo abordar un for comprimido

1.   Especificar el código de iteración
2.   Especificar las acciones



```
for letra in texto:
  print(letra, letra * 5)
```

In [43]:
texto: str = "bootcamp.softserve.python.linux"

#### **SIMPLE**

In [44]:
resultado = [ letra * 5 for letra in texto]
print(resultado)

['bbbbb', 'ooooo', 'ooooo', 'ttttt', 'ccccc', 'aaaaa', 'mmmmm', 'ppppp', '.....', 'sssss', 'ooooo', 'fffff', 'ttttt', 'sssss', 'eeeee', 'rrrrr', 'vvvvv', 'eeeee', '.....', 'ppppp', 'yyyyy', 'ttttt', 'hhhhh', 'ooooo', 'nnnnn', '.....', 'lllll', 'iiiii', 'nnnnn', 'uuuuu', 'xxxxx']

#### **RETORNO DOBLE**

In [45]:
[ (letra, letra * 5) for letra in texto]

[('b', 'bbbbb'),
 ('o', 'ooooo'),
 ('o', 'ooooo'),
 ('t', 'ttttt'),
 ('c', 'ccccc'),
 ('a', 'aaaaa'),
 ('m', 'mmmmm'),
 ('p', 'ppppp'),
 ('.', '.....'),
 ('s', 'sssss'),
 ('o', 'ooooo'),
 ('f', 'fffff'),
 ('t', 'ttttt'),
 ('s', 'sssss'),
 ('e', 'eeeee'),
 ('r', 'rrrrr'),
 ('v', 'vvvvv'),
 ('e', 'eeeee'),
 ('.', '.....'),
 ('p', 'ppppp'),
 ('y', 'yyyyy'),
 ('t', 'ttttt'),
 ('h', 'hhhhh'),
 ('o', 'ooooo'),
 ('n', 'nnnnn'),
 ('.', '.....'),
 ('l', 'lllll'),
 ('i', 'iiiii'),
 ('n', 'nnnnn'),
 ('u', 'uuuuu'),
 ('x', 'xxxxx')]

#### **CON IF**

In [46]:
[ (letra, letra * 5) for letra in texto[:10]]

[('b', 'bbbbb'),
 ('o', 'ooooo'),
 ('o', 'ooooo'),
 ('t', 'ttttt'),
 ('c', 'ccccc'),
 ('a', 'aaaaa'),
 ('m', 'mmmmm'),
 ('p', 'ppppp'),
 ('.', '.....'),
 ('s', 'sssss')]

```python

lista = []
for letra in texto[:10]:
  if letra != ".":
    lista.append((letra, letra * 5))
else:
  print(lista)
```

In [47]:
[ (letra, letra * 5) for letra in texto[:10] if letra != "."]

[('b', 'bbbbb'),
 ('o', 'ooooo'),
 ('o', 'ooooo'),
 ('t', 'ttttt'),
 ('c', 'ccccc'),
 ('a', 'aaaaa'),
 ('m', 'mmmmm'),
 ('p', 'ppppp'),
 ('s', 'sssss')]

In [48]:
lista = []
for letra in texto[:10]:
  if letra != ".":
    lista.append((letra, letra * 5))
else:
  print(lista)

[('b', 'bbbbb'), ('o', 'ooooo'), ('o', 'ooooo'), ('t', 'ttttt'), ('c', 'ccccc'), ('a', 'aaaaa'), ('m', 'mmmmm'), ('p', 'ppppp'), ('s', 'sssss')]

#### **CON FOR**



```python
# Multiplicación
for numero_1 in range(1,11):
  for numero_2 in range(1,11):
    print(f"{numero_1} x {numero_2} = {numero_1 * numero_2}")
```

In [49]:
[ f"{numero_1} x {numero_2} = {numero_1 * numero_2}" for numero_1 in range(1,11) for numero_2 in range(1,11)]

['1 x 1 = 1',
 '1 x 2 = 2',
 '1 x 3 = 3',
 '1 x 4 = 4',
 '1 x 5 = 5',
 '1 x 6 = 6',
 '1 x 7 = 7',
 '1 x 8 = 8',
 '1 x 9 = 9',
 '1 x 10 = 10',
 '2 x 1 = 2',
 '2 x 2 = 4',
 '2 x 3 = 6',
 '2 x 4 = 8',
 '2 x 5 = 10',
 '2 x 6 = 12',
 '2 x 7 = 14',
 '2 x 8 = 16',
 '2 x 9 = 18',
 '2 x 10 = 20',
 '3 x 1 = 3',
 '3 x 2 = 6',
 '3 x 3 = 9',
 '3 x 4 = 12',
 '3 x 5 = 15',
 '3 x 6 = 18',
 '3 x 7 = 21',
 '3 x 8 = 24',
 '3 x 9 = 27',
 '3 x 10 = 30',
 '4 x 1 = 4',
 '4 x 2 = 8',
 '4 x 3 = 12',
 '4 x 4 = 16',
 '4 x 5 = 20',
 '4 x 6 = 24',
 '4 x 7 = 28',
 '4 x 8 = 32',
 '4 x 9 = 36',
 '4 x 10 = 40',
 '5 x 1 = 5',
 '5 x 2 = 10',
 '5 x 3 = 15',
 '5 x 4 = 20',
 '5 x 5 = 25',
 '5 x 6 = 30',
 '5 x 7 = 35',
 '5 x 8 = 40',
 '5 x 9 = 45',
 '5 x 10 = 50',
 '6 x 1 = 6',
 '6 x 2 = 12',
 '6 x 3 = 18',
 '6 x 4 = 24',
 '6 x 5 = 30',
 '6 x 6 = 36',
 '6 x 7 = 42',
 '6 x 8 = 48',
 '6 x 9 = 54',
 '6 x 10 = 60',
 '7 x 1 = 7',
 '7 x 2 = 14',
 '7 x 3 = 21',
 '7 x 4 = 28',
 '7 x 5 = 35',
 '7 x 6 = 42',
 '7 x 7 = 49',
 '7 x 8 = 56',
 '7 x 9 = 63',
 '7 x 10 = 70',
 '8 x 1 = 8',
 '8 x 2 = 16',
 '8 x 3 = 24',
 '8 x 4 = 32',
 '8 x 5 = 40',
 '8 x 6 = 48',
 '8 x 7 = 56',
 '8 x 8 = 64',
 '8 x 9 = 72',
 '8 x 10 = 80',
 '9 x 1 = 9',
 '9 x 2 = 18',
 '9 x 3 = 27',
 '9 x 4 = 36',
 '9 x 5 = 45',
 '9 x 6 = 54',
 '9 x 7 = 63',
 '9 x 8 = 72',
 '9 x 9 = 81',
 '9 x 10 = 90',
 '10 x 1 = 10',
 '10 x 2 = 20',
 '10 x 3 = 30',
 '10 x 4 = 40',
 '10 x 5 = 50',
 '10 x 6 = 60',
 '10 x 7 = 70',
 '10 x 8 = 80',
 '10 x 9 = 90',
 '10 x 10 = 100']

In [50]:
[ f"{numero_1} x {numero_2} = {numero_1 * numero_2}" for numero_1 in range(1,11) if numero_1 %2 == 0 for numero_2 in range(1,11)]

['2 x 1 = 2',
 '2 x 2 = 4',
 '2 x 3 = 6',
 '2 x 4 = 8',
 '2 x 5 = 10',
 '2 x 6 = 12',
 '2 x 7 = 14',
 '2 x 8 = 16',
 '2 x 9 = 18',
 '2 x 10 = 20',
 '4 x 1 = 4',
 '4 x 2 = 8',
 '4 x 3 = 12',
 '4 x 4 = 16',
 '4 x 5 = 20',
 '4 x 6 = 24',
 '4 x 7 = 28',
 '4 x 8 = 32',
 '4 x 9 = 36',
 '4 x 10 = 40',
 '6 x 1 = 6',
 '6 x 2 = 12',
 '6 x 3 = 18',
 '6 x 4 = 24',
 '6 x 5 = 30',
 '6 x 6 = 36',
 '6 x 7 = 42',
 '6 x 8 = 48',
 '6 x 9 = 54',
 '6 x 10 = 60',
 '8 x 1 = 8',
 '8 x 2 = 16',
 '8 x 3 = 24',
 '8 x 4 = 32',
 '8 x 5 = 40',
 '8 x 6 = 48',
 '8 x 7 = 56',
 '8 x 8 = 64',
 '8 x 9 = 72',
 '8 x 10 = 80',
 '10 x 1 = 10',
 '10 x 2 = 20',
 '10 x 3 = 30',
 '10 x 4 = 40',
 '10 x 5 = 50',
 '10 x 6 = 60',
 '10 x 7 = 70',
 '10 x 8 = 80',
 '10 x 9 = 90',
 '10 x 10 = 100']

In [51]:
[ f"{numero_1} x {numero_2} = {numero_1 * numero_2}" for numero_1 in range(1,11) if numero_1 %2 == 0 for numero_2 in range(1,11) if numero_2 %2 == 0]

['2 x 2 = 4',
 '2 x 4 = 8',
 '2 x 6 = 12',
 '2 x 8 = 16',
 '2 x 10 = 20',
 '4 x 2 = 8',
 '4 x 4 = 16',
 '4 x 6 = 24',
 '4 x 8 = 32',
 '4 x 10 = 40',
 '6 x 2 = 12',
 '6 x 4 = 24',
 '6 x 6 = 36',
 '6 x 8 = 48',
 '6 x 10 = 60',
 '8 x 2 = 16',
 '8 x 4 = 32',
 '8 x 6 = 48',
 '8 x 8 = 64',
 '8 x 10 = 80',
 '10 x 2 = 20',
 '10 x 4 = 40',
 '10 x 6 = 60',
 '10 x 8 = 80',
 '10 x 10 = 100']

In [52]:
lista = [1,2,3,4,5]
evaluacion = ["par" if numero %2 == 0 else "impar" for numero in lista]

In [53]:
for index in range(len(lista)):
  print("el numero",lista[index], "es",evaluacion[index])

el numero 1 es impar
el numero 2 es par
el numero 3 es impar
el numero 4 es par
el numero 5 es impar

In [54]:
for resultado in ["par" if numero %2 == 0 else "impar" for numero in lista]:
  print(resultado)

impar
par
impar
par
impar

## ***WHILE***
Funciona iterando hasta que se cumpla una condición

**CUIDADO!** Es un ciclo no controlado, es decir que usted debe indicar cuándo termina




```
while condicion: [obligatoria]
  pass o la logica que quieran
else: [opcional]
  ---
```

In [55]:
rango: int = 5
contador: int = 0

while contador < rango:
  print(contador)
  #contador = contador + 1
  contador += 1
else:
  print("finalizó!")

0
1
2
3
4
finalizó!

In [56]:
rango: int = 5
contador: int = 0

while contador < rango:
  if contador %2 == 0:
    break
  #contador = contador + 1
  contador += 1
else:
  print("finalizó!")

### **EJEMPLO**

In [57]:
max_intentos: int = 3
contador: int = 0

while True:
  contador+=1
  if contador > max_intentos:
    print(f"sudo: {max_intentos} incorrect password attempts")
    break
  clave = input("Password")
  if len(clave.strip()) > 0:
    print("credenciales ingresadas")
    break
  else:
    print("Sorry, try again.")

Password
Sorry, try again.
Password
Sorry, try again.
Password
Sorry, try again.
sudo: 3 incorrect password attempts

Password:
Sorry, try again.